<div class="btn-group mt-4" role="group" aria-label="...">
  <button
    class="btn btn-dark"
    [routerLink]="'datatable'"
    routerLinkActive="active"
  ><i class="fa fa-table" aria-hidden="true"></i> 
    Data Table
  </button>
  <button
    class="btn btn-dark"
    [routerLink]="'insertform'"
    routerLinkActive="active"
  > <i class="fa fa-plus" aria-hidden="true"></i> 
    Insert Data
  </button>
  <button class="btn btn-dark"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Import Data</button>
</div>
<router-outlet></router-outlet>
