<div class="contianer-fluid mt-3 mb-5">
        <form>
                <div class="form-group ">
                  <label class="label-sm">Program</label>
                  <select id="inputState" class="form-control form-control-sm mar">
                    <option>Pantawid Pamilya</option>
                    <option>Lingap sa Masa</option>
                    <option>AICS</option>
                    <option>Kalahi</option>
                  </select>
                </div>
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm" for="inputEmail4">Province</label>
                    <select
                      id="inputState"
                      class="form-control form-control-sm mar"
                    >
                      <option>Cebu</option>
                      <option>Siquijor</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Municipality</label>
                    <select
                      id="inputState"
                      class="form-control form-control-sm mar"
                    >
                      <option>Minglanilla</option>
                      <option>Siquijor</option>
                    </select>
                  </div>
                </div>
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Number of Beneficiaries</label>
                    <input class="form-control form-control-sm mar" />
                  </div>
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Amount Disbursed</label>
                    <input class="form-control form-control-sm mar" />
                  </div>
                </div>
                <hr />
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Types of Assistance</label>
                    <select class="form-control form-control-sm mar" disabled>
                      <option>Food</option>
                      <option>Clothing</option>
                    </select>
                  </div>
                </div>
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Number of Beneficiaries</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Walked-in</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Amount</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                </div>
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar"></div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Referral</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Amount</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                </div>
    
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar">
                    <label class="label-sm">Amount Disbursed</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Walked-in</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Amount</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                </div>
                <div class="form-row mar">
                  <div class="form-group col-md-6 mar"></div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Referral</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                  <div class="form-group col-md-3 mar">
                    <label class="label-sm">Amount</label>
                    <input class="form-control form-control-sm mar" disabled />
                  </div>
                </div>
              </form>
</div>
