<div class="container-flex babaw"></div>
<div class="container-fluid divbody">
     <div class="container-fluid">
       <br>
       <button class="btn btn-light float-right" (click)="openProgramForm(null)">Add Program</button>
       <h4>Programs</h4>
       <div class=" searchbar">
          <input type="text" class="form-control form-control-sm " placeholder="Search Program">
       </div>
       <table class="table table-hover mt-2">
          <thead>
            <tr>
              <th>Program Name</th>
              <th>Department</th>
              <th>Target</th>
              <th>Funds</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>john@example.com</td>
            </tr>
          </tbody>
        </table>
     </div>
</div>

















