<!-- <p>insertdata works!</p>
<ul>
    <li>
      <a [routerLink]="'viewdata'" routerLinkActive="active"> View Data </a>
    </li>
    <li>
      <a [routerLink]="'representatives'" routerLinkActive="active">
        Representatives
      </a>
    </li>
  </ul>
  <router-outlet></router-outlet> -->


<div class="container-flex babaw"></div>
<div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="container left">
                <nav class="navbar navbar-expand-lg titlenav">
                    <a class="navbar-brand" href="#">
                      <img
                        src="/assets/insert.png"
                        width="30"
                        height="30"
                        class="d-inline-block align-top"
                        alt=""
                      />
                      Insert Data</a
                    >
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarNavAltMarkup"
                      aria-controls="navbarNavAltMarkup"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </nav>
                                <ul class="list-group">
                <li class="list-group-item border-0" [routerLink]="'viewdata'" routerLinkActive="active">View Data</li>
                <li class="list-group-item border-0" [routerLink]="'representatives'" routerLinkActive="active">Representatives</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-9 ">
            <div class="container right">
                <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
