<ul class="nav flex-column flex-nowrap overflow-hidden">
  <li class="nav-item" *ngIf="showAdminBoard">
    <a class="nav-link text-truncate" href="/reports" *ngIf="isLoggedIn" routerLink="reports"
      ><img src="/assets/reportlogo.png" alt="" /><span> Reports</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-truncate" href="#"
      ><img src="/assets/reportlogo.png" alt="" /><span> Reports</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link text-truncate" href="#"
      ><img src="/assets/reportlogo.png" alt="" /><span> Reports</span></a
    >
  </li>
</ul>
