
   <div class="container-fluid ">
        <!-- Large modal -->
        <form>
          <div class="form-row">
            <div class="form-group col-md-2">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target=".bd-example-modal-lg"
              >
                Add User
              </button>
    
            </div>
            <div class="form-group col-md-10">
              <input
                class="form-control form-control-sm"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
            </div>
          </div>
          
        </form>
      
        <div
          class="modal fade bd-example-modal-lg"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add User</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Firstname</label>
                      <input class="form-control" placeholder="Firstname" />
                    </div>
                    <div class="form-group col-md-6">
                      <label>Lastname</label>
                      <input class="form-control" placeholder="Lastname" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputAddress"
                      placeholder="Address"
                    />
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Mobile number</label>
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        placeholder="Mobile number"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputState">Department</label>
                      <select id="inputState" class="form-control">
                        <option>Department 1</option>
                        <option>Department 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Username</label>
                      <input
                        class="form-control"
                        id="inputEmail4"
                        placeholder="username"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="inputPassword4"
                        placeholder="Password"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Cancel
                </button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Upload CSV file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      
        <table class="table table-hover table-sm mar mt-2">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Address</th>
              <th>Mobile no.</th>
              <th>Department</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.mobileno }}</td>
              <td>{{ user.department }}</td>
              <td>
                  <button class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  <button class="btn btn-danger ml-2 btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      