<div class="container-flex">
        <!-- Large modal -->
        <form class="formdesign">
            <div class="form-group">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  placeholder="Search"
                  aria-label="Search"
                />
              </div>
          <div class="form-row mar">
            <div class="form-group col-md-4">
              <select id="inputState" class="form-control form-control-sm">
                <option>Programs</option>
                <option>All</option>
                <option>Pantawid Pamilya</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <select id="inputState" class="form-control form-control-sm">
                <option>Province</option>
                <option>Cebu</option>
                <option>Bohol</option>
                <option>Siquijor</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <select id="inputState" class="form-control form-control-sm">
                <option>Districts</option>
                <option>District 1</option>
                <option>District 2</option>
              </select>
            </div>
          </div>
        </form>
      
       
      
       
      
        <table class="table table-hover table-sm mar ">
          <thead>
            <tr>
              <th>District</th>
              <th>Municility</th>
              <th>Number of Beneficiaries</th>
              <th>Amount Disbursed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1st District</td>
              <td>Minglanilla</td>
              <td>12000233</td>
              <td>182929285</td>
              <td></td>
            </tr>
            <tr>
              <td>1st District</td>
              <td>Minglanilla</td>
              <td>12000233</td>
              <td>18000100</td>
              <td></td>
            </tr>
            <tr>
              <td>1st District</td>
              <td>Minglanilla</td>
              <td>12000233</td>
              <td>13567899</td>
              <td></td>
            </tr> 
          </tbody>
        </table>
        
      </div>
      <div class="fixed-bottom totaldiv">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label class=" col-form-label-sm" 
                >Provincial Total No. of Beneficiaries</label
              >
              <input class="form-control form-control-sm mar" />
            </div>
            <div class="form-group col-md-3">
              <label class=" col-form-label-sm"
                >Provincial Total Amount Disbursed</label
              >
              <input class="form-control form-control-sm mar" />
            </div>
            <div class="form-group col-md-3">
              <label class=" col-form-label-sm"
                >District Total No. of Beneficiaries</label
              >
              <input class="form-control form-control-sm mar" />
            </div>
            <div class="form-group col-md-3">
              <label class=" col-form-label-sm"
                >District Total Amount Disbursed</label
              >
              <input class="form-control form-control-sm mar" />
            </div>
          </div>
        </form>
      </div>