<div class="container-flex">
  <br />
  <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Notifications</a>
    </nav>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye" aria-hidden="true" ></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td><img src="/assets/pro.jpg" alt="" /> Adrian submitted report.</td>
        <td>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
